/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #323232;
  border: none;
}

a {
  color: #2d2aee;
}

body {
  background-color: #383737fa;
}

.associate-container {
  width: 80%;
  background-color: #FFF;
  padding: 25px;
  border-radius: 10px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
}

.associate-container h1{
    color: #f87c17;
    margin-bottom: 20px;
    font-size: 1.2rem;
    align-self: center;
}

.associate-forms {
  display: flex;
  width: 100%;
}

.associate-connect {
  margin-left: 10px;
}

.associate-connect {
  width: 50%
}
.get-connect-datas {
  width: 50%
}

/* form */
#create-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 25px;
}

#create-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #fd7a0f;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.full-box {
  width: 60%;
}

.half-box {
  width: 30%;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #f87c17;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 15px;
  width: 90%;
}

select {
  margin-top: 5px;
  border-bottom: 2px solid #f87c17;
  padding: 7px;
  font-size: .9rem;
  margin-bottom: 15px;
  width: 90%;
}

input:focus {
  border-color: #E60084;
}

input[type="submit"] {
  background-color: #454547;
  color: #FFF;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}

input, label {
  display: block;
  outline: none;
}

.send-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.send-button input{
  align-items: center;
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color: #ff1a1a;
  position: absolute;
  top: 57px;
  font-size: 12px;
}

.template {
  display: none;
}

#total-connect {
  display: flex;
  font-weight: bold;
}

#num-total-connect {
  margin-left: 5px;
}

th, td {
  border-bottom: 2px solid #f87c17;
  padding: 5px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#connect-table {
  display: none;
}

#cult-table {
  display: none;
}

.phoneData.hide {
  font-size: 1.3rem;
}

.phoneData {
  cursor: pointer;
  font-size: 1rem
}

@media screen and (max-width: 750px) {
  body {
    background-color: #FFF;
  }

  .associate-container {
    width: 95%;
    padding: 0 5px;
    margin: 20px auto;
    display: flex;
  }

  .associate-forms {
    flex-direction: column-reverse;
  }

  .get-connect-datas, .associate-connect {
    width: 100%;
  }

  .get-connect-datas { padding-bottom: 12px; }

  #create-container {
    width: 95%;
    padding: 0 5px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .half-box { 
    width: 35%;
    margin-right: 10px;
  }

  .full-box {
    width: 100%
  }

  #birthDate {
    width: 40%;
  }

  .connect-datas.with-cult-datas {
    display: inline-block;
    overflow-x: auto;
  }
}